*.iws
*Db.properties
*Db.script
.settings
stacktrace.log
/*.zip
/plugin.xml
/*.log
/*DB.*
/cobertura.ser
.DS_Store
/target/
/out/
/web-app/plugins
/web-app/WEB-INF/classes
/.project
/.idea/
/.classpath
/Ant-resources-example.iml
/Ant-resources-example-grailsPlugins.iml